<a href="https://colab.research.google.com/github/dlrjswn179/dlrjswn179/blob/main/%EC%B2%98%EC%9D%8C_%EB%B0%B0%EC%9A%B0%EB%8A%94_%EB%94%A5%EB%9F%AC%EB%8B%9D_%EC%B1%97%EB%B4%87_%EC%97%B0%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

숫자

In [ ]:
type(0*8)

In [ ]:
type(0/8)

In [ ]:
type(1.0*5)

In [ ]:
type(3/1)

In [ ]:
type(3//1)

In [ ]:
type(3%1)

문자열

In [ ]:
'"Nice to meet you", chatbot says'

In [ ]:
"I'm programming now"

In [ ]:
'Hello\nbro!!'

In [ ]:
print('Hello\nbro!!')

In [ ]:
'''Hello
bro!!'''

In [ ]:
print('''Hello
bro!!''')

리스트

In [ ]:
list = [1,2]
list.append(1)
print(list)

In [ ]:
list.insert(1,3)
print(list)

In [ ]:
list.pop(1)

In [ ]:
print(list)

In [ ]:
del list[1]
print(list)

In [ ]:
len(list)

튜플

In [ ]:
tuple = (1, 2)
tuple + (1,)

In [ ]:
tuple + (2.00,)

딕셔너리

In [ ]:
user1 = {'name' : '홍길동', 'age' : 30, 'email' : 'hong@hanbit.co.kr'}

In [ ]:
user1 = {'name' : "홍길동", 'age' : 30, 'email' : 'hong@hanbit.co.kr'}

In [ ]:
user1 = {"name" : '홍길동', 'age' : 30, 'email' : "hong@hanbit.co.kr"}

In [ ]:
user1

In [ ]:
dict1 = {'a':'a'}
dict1

In [ ]:
dict2 = {1:1}
dict2

if 조건문

In [ ]:
check = True
if check:
  print('-' * 13)
  print('check is true')
  print('-' * 13)
check = True
if check:
  print('-' * 13)
  print('check is true')
  print('-' * 13)

In [ ]:
check = True
if check is True:
  print('-' * 13)
  print('check is true')
  print('-' * 13)

In [ ]:
check = True
if check == True:
  print('-' * 13)
  print('check is true')
  print('-' * 13)

In [ ]:
check = True
if check is False:
  print('-' * 13)
  print('check is true')
  print('-' * 13)

In [ ]:
check = True
if check is True or False:
  print('-' * 13)
  print('check is true')
  print('-' * 13)

In [ ]:
check = True
if check is True and False:
  print('-' * 13)
  print('check is true')
  print('-' * 13)

In [ ]:
check = True
if check >= 0:
  print('-' * 13)
  print('check is true')
  print('-' * 13)
#?????????????????????????????????????????????????????????????????

In [ ]:
check = True
if check <0:
  print('-' * 13)
  print('check is true')
  print('-' * 13)

In [ ]:
check = True
if check ==0:
  print('-' * 13)
  print('check is true')
  print('-' * 13)

In [ ]:
check = True
if check >0:
  print('-' * 13)
  print('check is true')
  print('-' * 13)

In [ ]:
int(True)

In [ ]:
int(False)
#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [ ]:
float(False)

In [77]:
score = 84
if score >= 90:
  print('Grade A')
elif score >= 80:
  print('Grade B')
elif score >= 70:
  print('Grade C')
else:
  print('Grade D')

Grade B

In [78]:
score = 100
if score >= 90:
  print('Grade A')
elif score >= 80:
  print('Grade B')
elif score >= 70:
  print('Grade C')
else:
  print('Grade D')

Grade A

while 반복문

In [82]:
while True:
  print('input number : ')
  menu = int(input())
  if menu == 0: 
    break
  elif menu == 1:
    print('number one')
  elif menu == 99:
    continue
  elif menu == 2:
    print('number two')
  else:
    print('another number')

input number :
0

In [85]:
while True:
  print('input number : ')
  menu = int(input())
  if menu == 0:break
  elif menu == 1: print('number one')
  elif menu == 99: continue
  elif menu == 2:  print('number two')
  else:    print('another number')

input number :
2
number two
input number :
0

for 반복문

In [86]:
coord = [(0,0), (10,15), (20,25)]
for x,y in coord:
  print(x,y)

0 0
10 15
20 25

In [87]:
coord = [(0,0), (10,15), (20,25)]
for x in coord:
  print(x)

(0, 0)
(10, 15)
(20, 25)

In [88]:
coord = [(0,0), (10,15), (20,25)]
for x,y in coord:
  print(x)

0
10
20

In [5]:
coord = [0, 10, 20]
for x in coord:
  print(x,333333333)

0 333333333
10 333333333
20 333333333

In [3]:
user = {'name' : 'Kei', 'age' : 35, 'nationality' : 'Korea'}
for k, v in user.items():
  print(k,v)

name Kei
age 35
nationality Korea

In [4]:
for k, v in user.items():
  print(k,':',v)

name : Kei
age : 35
nationality : Korea